<main>
    
  
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg  text-uppercase fixed-top" id="mainNav">
      <div class="container">
        <div class="title-logo" (click)="scrollToElement(firstSection)"><span style="color: #dfab01;">카카오 T </span><span class="serviceType"></span> <br class="br br-title-logo"> <span class="sub-text"></span> 운전자보험</div>
        
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold rounded"
          type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
          aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class=" nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="scrollToElement(secondSection)">상품 내용</a>
            </li>
            <li class="menu-item nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="scrollToElement(thirdSection)">약관 안내</a>
            </li>
            <li class="menu-item nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="scrollToElement('anchorId')">자주 묻는 질문</a>
            </li>
            <li class="menu-item nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="scrollToElement('anchorId')">문의하기</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
      
      <header #firstSection class="page-header">
        <h1 class="page-title section-title">탄 만큼 내는 운전자보험</h1>
        <p>운전자보험 간단 설명</p>

        <button>
            사고접수하기
        </button>

      </header>
      
      <section #secondSection>
        <h2 class="section-title">상품내용</h2>


        <h6>담보 및 보험료 내용</h6>
        <table>
          <thead>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            
          </tbody>
        </table>
      </section>

      <section #thirdSection>
        <h2 class="section-title">약관안내</h2>
      </section>

      <section #fourthSection>
        <h2 class="section-title">자주 묻는 질문</h2>
      </section>

      <section #fifthSection>
        <h2 class="section-title">문의하기</h2>
      </section>

      <footer>

      </footer>
</main>
