
.confirm-container{
    // padding: 0px 20px;
}

header, section {
    padding: 0 20px;
}

.title-area{
    padding-top: 10px;
    .title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 10px;
        .color-blue{
            color: #3581FF;
        }
    }

    .sub-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: rgba(38, 45, 57, 0.52);
    }
}


.contract-information-area,.insured-information-area{
    padding: 20px;
}


.contract-information-area h3,.insured-information-area h3{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 14px;
    padding-top: 16px;
}

.contract-information-area ul, .insured-information-area ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}



.information-content{
    display: flex;

    dl{
        font-size: 14px;
        font-weight: 400;
        color: rgba(38, 45, 57, 0.52);
        width: 78px;
    }
    dd{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        padding-left: 10px;
        width: calc(100% - 80px);
    }
}



.bottom-area{
    padding: 24px 20px 20px 20px;

    p{
        font-size: 14px;
        color: rgba(38, 45, 57, 0.52);
        font-style: normal;
        font-weight: 400;       
        font-family: 'Roboto';
    }
}


.color-blue{
    color: #3581FF;
}

#join-button{
    background-color: #3581FF;
    border-radius: 4px;
    width: 100%;
    height: 52px;
}

.divide{
    height: 8px;
    background-color: #F5F6F7;
}