.next-btn{
    width: 100%;
    height: 50px;
    border: none;
    background-color: #FAE100;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

ul{
    list-style : none;
    padding-inline-start: 0;
}

.page-head{
    background-color: #FAE100;
    padding: 20px;
}