<section>
    <div class="page-head">
        <h5>
            아래항목중 해당사항이 있습니까?
        </h5>
        <p>
            답변이 사실과 다를 경우 보험 유지 및 보험금 지급이 거절될 수 있습니다.
        </p>
    </div>
    <div>
        이륜차를 운전하고 있거나,
        영업용차량이나 영업목적으로 
        운전하고 있습니까?
    </div>
    <div>
        <div class="notice-complete-btn-wrap">
            <button class="notice-complete-btn">
                네
            </button>
            <button class="notice-complete-btn" (click)="nextStep()">
                아니오
            </button>
        </div>
        
    </div>
</section>