
.user-form-container{
    padding: 0 20px;
}

.header{
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 24px;
    color: #262D39;
    font-weight: 700;
    
}

.form-message{
    margin-bottom: 20px;
}

.input{
    height: 56px;
    width: 100%;
    border-radius: 4px;
    background: #F8F8F8;
    outline: none;
    border: 1px solid rgba(38, 45, 57, 0.08);
    box-sizing: border-box;
    padding: 16px 12px 16px 16px
}
.input:focus{
    -webkit-background:#F8F8F8;
    -moz-background:#F8F8F8;
    -moz-border : 1px solid #3581FF;
    -webkit-border : 1px solid #3581FF;
    -o-border: 1px solid #3581FF;
    -moz-outline : none;
    -webkit-outline : none;
    border:1px solid #3581FF;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-box-driverSocialNumber{

    height: 56px;
    width: 100%;
    border-radius: 4px;
    background: #F8F8F8;
    outline: none;
    box-sizing: border-box;
    padding: 16px 12px 16px 16px;
    border: 1px solid rgba(38, 45, 57, 0.08);
    

    .input-driverSocialNumber{
        border : none;
        background-color: #F8F8F8;
        outline: none;
        width: calc((100% - 10px) / 2);
    }
    .input-driverSocialNumber-second{
        padding: 10px;
    }
    #driverSocialNumberSecond{
        padding-left: 10px;
    }
    .dash-box{
        display: inline-block;
        width: 10px;
        text-align: center;
    }

}



.next-button{
    background: #3581FF;
    height: 52px;
    width: 100%;
}
.next-button:disabled{
    background-color: rgba(38, 45, 57, 0.08);
    color: rgba(38, 45, 57, 0.16);
    border: none;
    border-radius: 4px;
}

.input-box {
    position: relative;
    margin-bottom: 10px;

    .icon-box{
        font-size:16px;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        fa-icon{
            color: rgba(38, 45, 57, 0.52);
        }
    }

}

.invalid-color{
    // color: red;
    font-weight: 700;
    font-size: 16px;
}
.valid-color{
    color: #3581FF;
    font-weight: 700;
    font-size: 16px;
}

.ng-inValid  {
    border: 1px solid red; /* green */
  }

  .fixed-button-area{
    // width: 90%;
    position: fixed;
    bottom: 0px;
    left: 20px;
    right: 20px;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 20px;
}