<main class="user-form-container">

    <header class="header">
        피보험자 정보
    </header>

    <section class="form-area">
        
        <div [ngSwitch]='onFormControl' class="form-message">

            <div *ngSwitchCase="'driverCell'">
                <p class="invalid-color" *ngIf="form.controls.driverCell.errors?.required">휴대폰번호를 입력해주세요</p>
                <p class="invalid-color" *ngIf="!form.controls.driverCell.errors?.required && form.controls.driverCell.dirty && form.controls.driverCell.errors?.invalidCell">휴대폰번호를 확인해주세요</p>
                <p class="valid-color" *ngIf="!form.controls.driverCell.errors">휴대폰번호를 입력하였습니다</p>
            </div>
            <div *ngSwitchCase="'driverSocialNumber'">
                <p class="invalid-color" *ngIf="form.controls.driverSocialNumber.errors?.required">주민등록번호를 입력해주세요</p>
                <p class="invalid-color" *ngIf="!form.controls.driverSocialNumber.errors?.required && form.controls.driverSocialNumber.dirty && form.controls.driverSocialNumber.errors?.invalidSocialNumber">주민등록번호를 확인해주세요</p>
                <p class="valid-color" *ngIf="!form.controls.driverSocialNumber.errors">주민등록번호를 입력하였습니다</p>
            </div>
            <div *ngSwitchCase="'driverName'">
                <p class="invalid-color" *ngIf="form.controls.driverName.errors?.required">이름을 입력해주세요</p>
                <p class="valid-color" *ngIf="!form.controls.driverName.errors">이름을 확인해주세요</p>
            </div>
            
        </div>

        <form [formGroup]="form">

            <!-- <ng-container formArray="userForm">
                <ng-container *ngFor="let formControl of userForm.controls; let i = index">
                    <div class="input-box">
                        <input
                            class="input"
                            [type]="formDataArr[i].type"
                            
                            [id]="formDataArr[i].formControlName"
                            [placeholder]="formDataArr[i].placeholder"
                            [maxLength]="formDataArr[i].maxLength"
                            (input)="customizeValue($event)"
                        >
                        <div class="icon-box">
                            <fa-icon [icon]="faCircleXmark"></fa-icon>
                        </div>
                    </div>
                </ng-container>
            </ng-container> -->


            <div *ngFor = "let formControl of formControlsList">
                <div class="input-box">
                    <input 
                        class="input"  
                        [id]="formControl.formControlName" 
                        [formControlName]="formControl.formControlName" 
                        [type]="formControl.type" 
                        [placeholder]="formControl.placeholder"
                        [maxLength]="formControl.maxLength"
                        (input)="customizeValue($event)"
                        (click)="onCursor($event)"
                        [ngClass]="{'ng-inValid' : form.controls[formControl.formControlName].errors}"
                    >
                    <div class="icon-box" (click)="clearFormControl(formControl)">
                        <fa-icon [icon]="faCircleXmark"></fa-icon>
                    </div>
                    
                </div>
                
            </div>
            
            

            
        </form>


        <button class="btn btn-primary next-button" (click)="next()" [disabled]="form.invalid">다음</button>

        
    </section>
    




</main>