<main *ngIf="payload" class="user-form-container">

    <header class="header">
        피보험자 정보
    </header>

    <section class="form-area">
        
        <!-- <div [ngSwitch]='onFormControl' class="form-message">

            <div *ngSwitchCase="'driverName'">
                <p class="valid-color" *ngIf="form.controls.driverName.errors?.required">이름을 입력해주세요.</p>
                <p class="valid-color" *ngIf="!form.controls.driverName.errors">이름을 확인해주세요.</p>
            </div>
            <div *ngSwitchCase="'driverCell'">
                <p class="valid-color" *ngIf="form.controls.driverCell.errors?.required">휴대폰번호를 입력해주세요.</p>
                <p class="valid-color" *ngIf="form.controls.driverCell.hasError('invalidCell')">휴대폰번호를 확인해주세요.</p>
                <p class="valid-color" *ngIf="!form.controls.driverCell.errors">휴대폰번호를 확인해주세요.</p>
            </div>
            <div *ngSwitchCase="'driverSocialNumberFirst'">
                <p class="valid-color" *ngIf="form.controls.driverSocialNumberFirst.errors?.required">주민등록번호를 입력해주세요.</p>
                <p class="valid-color" *ngIf="form.get('driverSocialNumberFirst')!.hasError('invalidSocialNumber')">주민등록번호를 확인해주세요.</p>
            </div>
            <div *ngSwitchCase="'driverSocialNumberSecond'">
                <p class="valid-color" *ngIf="form.controls.driverSocialNumberFirst.errors?.required && form.controls.driverSocialNumberSecond.errors?.required">주민등록번호를 입력해주세요.</p>
                <p class="valid-color" *ngIf="form.get('driverSocialNumberSecond')!.hasError('invalidSocialNumber')">주민등록번호를 확인해주세요.</p>
            </div>
            
        </div> -->

        <form [formGroup]="form">

            <!-- 기존에 다음버튼 누르면 하나씩 생성됬던 것 -->
            <!-- <div *ngFor = "let formControl of formControlsList">
                <div class="input-box">
                    <input 
                        class="input"  
                        [id]="formControl.formControlName" 
                        [formControlName]="formControl.formControlName" 
                        [type]="formControl.type" 
                        [placeholder]="formControl.placeholder"
                        [maxLength]="formControl.maxLength"
                        (input)="customizeValue($event)"
                        (click)="onCursor($event)"
                        [ngClass]="{'ng-inValid' : form.controls[formControl.formControlName].errors}"
                    >
                    <div class="icon-box" (click)="clearFormControl(formControl)">
                        <fa-icon [icon]="faCircleXmark"></fa-icon>
                    </div>
                    
                </div>
                
            </div> -->
            
            <div class="input-box">
                <input 
                    class="input" 
                    type="text" 
                    placeholder="이름" 
                    formControlName="driverName" 
                    id="driverName"
                    (focus)="onCursor($event)"
                    [ngClass]="{'ng-inValid' : form.controls['driverName'].errors && form.controls['driverName'].touched}"
                />
                <div *ngIf="onFormControl==='driverName'" class="icon-box" (click)="clearFormControl('driverName')">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                </div>
            </div>

            <div class="input-box">
                <input 
                    class="input" 
                    type="text" 
                    placeholder="휴대폰 번호 '-' 없이 입력" 
                    formControlName="driverCell" 
                    id="driverCell"
                    maxLength="11" 
                    (focus)="onCursor($event)"
                    [ngClass]="{'ng-inValid' : form.controls['driverCell'].errors && form.controls['driverCell'].touched}"
                />
                <div *ngIf="onFormControl==='driverCell'" class="icon-box" (click)="clearFormControl('driverCell')">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                </div>
            </div>

            <div class="input-box input-box-driverSocialNumber"
                [ngClass]="{'ng-inValid' : form.controls['driverSocialNumberSecond'].errors && form.controls['driverSocialNumberSecond'].touched}"
                >

                <input 
                    type="text"
                    formControlName="driverSocialNumberFirst"
                    class="input-driverSocialNumber"
                    id="driverSocialNumberFirst" 
                    #driverSocialNumberFirst
                    placeholder="주민등록번호" 
                    maxlength="6" 
                    (input)="onlyNumber($event)"
                    (keyup)="focusDriverSocialNumberSecond()"
                    (focus)="onCursor($event)"
                />

                <div class="dash-box">-</div>

                <input 
                    type="password" 
                    formControlName="driverSocialNumberSecond" 
                    class="input-driverSocialNumber" 
                    id="driverSocialNumberSecond" 
                    #driverSocialNumberSecond
                    maxlength="7" 
                    (input)="onlyNumber($event)"
                    (focus)="onCursor($event)"
                />
                
                <div *ngIf="onFormControl === 'driverSocialNumberFirst' || onFormControl === 'driverSocialNumberSecond'" class="icon-box" (click)="clearFormControl('driverSocialNumber')">
                    <fa-icon [icon]="faCircleXmark"></fa-icon>
                </div>

            </div>
            

            
        </form>
        
    </section>
    

    <div class="fixed-button-area">

        <button class="btn btn-primary next-button" (click)="nextPage()" [disabled]="form.invalid">다음</button>
        
    </div>



</main>