.insurance-information-container{
    padding: 0px 20px;
    
}

.title {
    text-align: left;
}


.description-content{
    display: flex;
    justify-content: space-between;
}


#guarantee-content{
    text-align: center;
}



#next-button{
    height: 52px;
    background-color: #3581FF;
    width: 100%;
}


.modal-content{
    margin: 0;
    border-radius: 0;
}