<ng-template #essentialContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="content-box">
            <h3>꼭 알아두실 내용</h3>
            <p>이 상품은 “DB손해보험 고객사랑보험(플랫폼전용)” 입니다.
                보험계약 전 약관을 확인하시기 바랍니다. 
            </p>
        </div>

        
        <div class="content-box">
            <h4>단체보험계약</h4>
            <ul>
                <li>본 보험 계약은 카카오모빌리티를 계약자, 카카오모빌리티 회원 중 가입 고객을 피보험자, 카카오모빌리티 회원 중 가입고객 및 법정상속인을 보험수익자로 하는 단체계약입니다.</li>
                <li>본 보험계약은 단체형으로 운영하여 청약철회 및 품질보증 해지대상이 아닙니다.</li>
                <li>본 보험계약은 단체형으로 운영하여 연말정산 시 소득공제대상이 아닙니다.</li>
            </ul>
        </div>

        <div class="content-box">
            <h4>만기환급금</h4>
            <p>본 상품은 순수보장성 상품으로 만기 시 만기환급금이 없으며 또한 보험계약대출제도가 없습니다.</p>
        </div>

        <div class="content-box">
            <h4>예금자보호 안내</h4>
            <p>이 보험계약은 예금자보호법에 따라, 예금보험공사가 보호하되, 보호한도는 본 보험회사에 있는 귀하의 모든 예금보험 대상 금융상품의 해약환급금(또는 만기 시 보험금이나 사고 보험금)에 기타 지급금을 합하여 1인당 “최고 5천만원"이며, 5천만원을 초과하는 나머지 금액은 보호하지 않습니다. 다만, 보험계약자 및 보험료 납부자가 법인인 보험계약은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.</p>
        </div>
        
        <div class="content-box">
            <h4>보험계약을 할 때</h4>
            <p>보험계약 시에는 보험상품명, 보험기간, 보험료, 보험료납입기간, 피보험자 등을 반드시 확인하시고, 자세한 상품내용은 반드시 보험약관을 확인하시기 바랍니다.</p>
        </div>

        <div class="content-box">
            <h4>가입자의 계약 전 알릴 의무</h4>
            <p>계약자 또는 피보험자는 보험계약 청약 시 청약서(질문서를 포함합니다)의 질문사항에 대하여 알고 있는 내용을 반드시 사실대로 알려야합니다. 그렇지 않은 경우 보험금의 지급이 거절되거나 보험계약이 해지될 수 있습니다.</p>
        </div>

        <div class="content-box">
            <h4>계약해지 후 다른 보험 계약 시 유의사항</h4>
            <p>보험계약자가 기존에 체결했던 보험계약을 해지하고 다른 보험계약을 체결하면 보험인수가 거절되거나 보험료가 인상되거나 보장내용이 달라질 수 있습니다.</p>
        </div>
    </div>
    
</ng-template>