
<main class="join-container">
    <header class="top-toolbar">
        <div class="font-back-box" (click)="moveBack()">
            <!-- <fa-icon [icon]="faArrowLeft"></fa-icon> -->
            <img src="/assets/image/ic_24_back_black.svg" alt="">
        </div>
        
    </header>
    <section [ngSwitch]="PAGE">
        <!-- <page-insurance-information *ngSwitchCase="'insurance-information'"  [payload]="payload" [queryString_enc]="queryString_enc" (renewal)="renewal($event)"></page-insurance-information>
        <page-user-form *ngSwitchCase="'user-form'" [payload]="payload" [queryString_enc]="queryString_enc" (renewal)="renewal($event)"></page-user-form>
        <page-confirm *ngSwitchCase="'confirm'" [payload]="payload" [queryString_enc]="queryString_enc" (renewal)="renewal($event)"></page-confirm> -->

        <page-insurance-information *ngSwitchCase="'insurance-information'"  [payload]="payload" [queryParams]="queryParams" (renewal)="renewal($event)"></page-insurance-information>
        <page-user-form *ngSwitchCase="'user-form'" [payload]="payload" [queryParams]="queryParams" (renewal)="renewal($event)"></page-user-form>
        <page-confirm *ngSwitchCase="'confirm'" [payload]="payload" [queryParams]="queryParams" (renewal)="renewal($event)"></page-confirm>
    </section>
    

</main> 
