
<main class="join-container">
    <header class="top-toolbar">
        <div class="font-back-box">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        
    </header>
    <section [ngSwitch]="PAGE">
        <page-insurance-information *ngSwitchCase="'insurance-information'" (nextStep)="renewal($event)"></page-insurance-information>
        <page-user-form *ngSwitchCase="'user-form'" (nextStep)="renewal($event)" [user]="user"></page-user-form>
        <page-confirm *ngSwitchCase="'confirm'" (changePage)="renewal($event)" [user]="user"></page-confirm>

    </section>
    

</main> 
