/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/** 부트스트랩 정훈 Customizng 부분**/
.modal-dialog{
    margin:0;
}

.modal-content{
    border-radius:0%;
    border: none;
}


.btn:disabled{
    background-color: rgba(38, 45, 57, 0.08);
}
.btn-primary:disabled{
    background-color: rgba(38, 45, 57, 0.08);
    
}
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
    border: none;
}
.btn:focus {
    outline: none;
    box-shadow: none;
    border: none;
}
.btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn:hover{
    outline-color: #3581FF;
    box-shadow: none;
    border: 1px solid #3581FF;
}
input:focus{
    -webkit-background:#F8F8F8;
    -moz-background:#F8F8F8;
    -moz-border : 1px solid #3581FF;
    -webkit-border : 1px solid #3581FF;
    -moz-border : 1px solid #3581FF;
    -webkit-border : 1px solid #3581FF;
}
