<section>
    <div class="page-head">
        <h5>
           신청인 정보
        </h5>
        <p>
            입력하신 개인정보는 운전자보험에 등록되며,<br>
            그 외의 용도로는 사용되지 않습니다.
        </p>
    </div>

    <div class="form-wrap">
        <form [formGroup]="userForm">
            <label for="name">Name: </label>
            <input type="text" id="driverName" placeholder="이름" formControlName="driverName">

            <label for="cell">Cell: </label>
            <input type="text" id="driverCell" placeholder="휴대폰번호" formControlName="driverCell">

            <label for="socialNumber">SocialNumber: </label>
            <input type="text" id="driverSocialNumber" placeholder="주민등록번호" formControlName="driverSocialNumber">

            <input type="hidden" id="naviId" formControlName="naviId">
            <input type="hidden" id="agreeCi" formControlName="agreeCi">
            
        </form>

    </div>


    <div class="join-btn-wrap">
        <button class="join-btn" (click)="onSubmit()" [disabled]="userForm.invalid">
            입력완료
        </button>
    </div>
</section>